---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tabara Nosiba</title>
	</head>
	<body>
		<nav>
            <a href="/">Home</a>
			<a href="/about">About</a>
			<a href="#">Projects</a>
			<a href="/posts">Posts</a>
			<a href="#">Contact</a>
		</nav>
		<h1>some things about me...</h1>
		<p>As someone who was always creative and began tinkering with HTML and CSS through her Tumblr days, I came to consider studying computer science towards the end of my high school years through the Girls Who Code Summer Immersive program. I went on to pursue a degree in Computer Science with a concentration in Applications at Barnard College of Columbia University. Throughout my years at Columbia, I was involved in Columbia ADI (Application Development Initiative). After graduating, I began working at the Accenture Co-Innovation Garages, where I worked as a UI developer creating cutting edge solutions for a variety of clients. I am passionate about human centered design, web accessibility, security, and performance. </p>
	</body>
</html>
