---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tabara Nosiba</title>
	</head>
	<body>
		<nav>
			<a href="about">About</a>
			<a href="#">Projects</a>
			<a href="#">Posts</a>
			<a href="#">Contact</a>
		</nav>
		<h1>Hi, my name is Tabara</h1>
		<p>I'm a full-stack engineer in NYC, crafting accessible, beautiful interfaces with a sharp eye for design and extensive experience in rapid prototyping.</p>
		
	</body>
</html>
